---
---

// colors
[data-dark="false"] {
  --primary: #023047;
  --secondary: #8ECAE6;
  --text: #202427;
  --background: #f1f3f4;
  --background-alt: #ecedf2;
  --light-gray: #a8adb4;
  --gray: #767f8a;
  --dark-gray: #464b53;
  --overlay: #00000020;
}
[data-dark="true"] {
  --primary: #023047;
  --secondary: #FB8500;
  --text: #ffffff;
  --background: #181818;
  --background-alt: #1c1c1c;
  --light-gray: #8ECAE6;
  --gray: #808080;
  --dark-gray: #b0b0b0;
  --overlay: #ffffff10;
}

:root {
  // font families
  --title: "Barlow", sans-serif;
  --heading: "Barlow", sans-serif;
  --body: "Barlow", sans-serif;
  --code: "Roboto Mono", monospace;

  // font sizes
  --large: 1.2rem;
  --xl: 1.4rem;
  --xxl: 1.6rem;

  // font weights
  --thin: 200;
  --regular: 400;
  --semi-bold: 500;
  --bold: 600;

  // text line spacing
  --spacing: 2;
  --compact: 1.5;

  // effects
  --rounded: 3px;
  --shadow: 0 0 10px 0 var(--overlay);
  --transition: 0.2s ease;
}
