{% assign emptyarray = "" | split: "," %}
{% assign data = site.data[include.data]
  | default: site[include.data]
  | default: emptyarray
  | data_filter: include.filter
%}


{% assign years = data
  | group_by_exp: "d", "d.start_date | date: '%Y'"
  | sort: "name"
  | reverse
%}

{% if include.style != "expand" and include.glider == false %}
  <div class="project-excerpt-container">
{% endif %}
{% for year in years %}
  {% assign data = year.items %}

  {% if include.style == "expand" and include.glider == false %}
    {% if years.size > 1 %}
      {{--}}<h3 id="{{ year.name }}">{{ year.name }}</h3>
      {% assign data = data | sort: "date" | reverse %}
    {% endif %}
    <div class="project-excerpt-container"></div>
  {% else %}
    {% if years.size > 1 %}
      {% assign data = data | sort: "date" | reverse %}
    {% endif %}
  {% endif %}

  {% for d in data %}
    {% assign style = d.style | default: include.style %}

    {%
      include {{ include.component | append: ".html" }}
      glider=include.glider
      buttons=d.buttons
      content=d.content
      end_date=d.end_date
      excerpt=d.excerpt
      image=d.image
      investigators=d.investigators
      link=d.link
      lookup=d.lookup
      name=d.name
      slug=d.slug
      style=style
      start_date=d.start_date
      supervisors=d.supervisors
      tags=d.tags
      text=d.text
      title=d.title
      tooltip=d.tooltip
      type=d.type
      url=d.url
    %}
  {% endfor %}
  {% if include.style == "expand" and include.glider == false %}
    </div>
  {% endif %}
{% endfor %}
{% if include.style != "expand" and include.glider == false %}
  </div>
{% endif %}