<div class="project-info">
  {% if include.investigators %}
    {% assign investigators = include.investigators
      | join: ","
      | downcase
      | split: ","
      | array_filter
    %}
    <div class="project-investigators">
      <span>Investigators:</span>
      {% for investigator in investigators %}
        {% assign member = site.members
          | where_exp: "member", "member.slug == investigator"
          | first
        %}
        <span data-tooltip="Investigator">
          {% if member %}
            {% include portrait.html lookup=investigator style="tiny" %}
          {% else %}
              {% include icon.html icon="fa-solid fa-feather-pointed" %}
              <span>{{ investigator }}</span>
          {% endif %}
        </span> 
      {% endfor %}
    </div>
  {% endif %}
  {% if include.supervisors %}
    {% assign supervisors = include.supervisors
      | join: ","
      | downcase
      | split: ","
      | array_filter
    %}
    <div class="project-supervisors">
      <span>Supervisors:</span> 
      {% for supervisor in supervisors %}
        {% assign member = site.members
          | where_exp: "member", "member.slug == supervisor"
          | first
        %}
        <span data-tooltip="Supervisor">
          {% if member %}
            {% include portrait.html lookup=supervisor style="tiny" %}
          {% else %}
              {% include icon.html icon="fa-solid fa-feather-pointed" %}
              <span>{{ supervisor }}</span>
          {% endif %}
        </span>
      {% endfor %}
    </div>
  {% endif %}

  {% assign start_date = include.start_date | date: "%Y" %}
  {% assign end_date = include.end_date | date: "%Y" %}
  {% assign website = include.link | relative_url | uri_escape %}
  <div class="project-metadata">
    {% if start_date %}
      <span data-tooltip="Start date">
        {% include icon.html icon="fa-regular fa-calendar" %}
        <span>{{ start_date }}</span>
      </span>
    {% endif %}
    <span>-</span>
    {% if end_date and end_date != "" and end_date != start_date %}
      <span data-tooltip="End date">
        <span>{{ end_date }}</span>
      </span>
    {% else %}
      <span data-tooltip="Ongoing">
        {% include icon.html icon="fa-solid fa-infinity" %}
      </span>
    {% endif %}
    {% if website %}
      <span data-tooltip="Website">
        <a href="{{ website }}">
          {% include icon.html icon="fa-solid fa-globe" %}
        </a>
      </span>
    {% endif %}
  </div>

</div>

{% if include.tags %}
  {% include tags.html tags=include.tags link="research" %}
{% endif %}
